.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.calculator {
  width: 300px;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.button-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  font-size: 18px;
  padding: 15px 20px;
  background-color: #0074cc;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
}

.button:hover {
  background-color: #0059a8;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.button:active {
  background-color: #004482;
}